<div class="application__body-container">
  <div class="application__body">
    <div class="discount-cards__form">
      <div class="discount-cards__form--main">
        <div class="discount-cards__title">
          Ajouter un bailleur
        </div>


        <%= render 'form', representant_bailleur: @representant_bailleur %>

        <%= link_to 'Back', representant_bailleurs_path %>

      </div>
    </div>
  </div>
</div>

