<!--Après connexion-->
<% if user_signed_in? %>
<div class="application__header-container">
  <div class="application__header">
  <div>
      <div>
        <div class="header__logo header__logo--signed-in">
          <!---->

        </div>
      </div>
      <ul class="header__tabs">
        <li class="header__tab header__search ">
          <a href="/search" class="header__link active">
            <span>
              <div class="header__tab-icon header__tab-icon--search">
              </div>
              Recherche
            </span>
          </a>
        </li>
        <li class="header__tab header__cart ">
          <a href="/cart" class="header__link">
            <span>
              <div class="header__tab-icon header__tab-icon--cart-empty">
              </div>
              Historique
            </span>
            <!---->
          </a>
        </li>
        <li class="header__tab header__tickets">
          <a href="/tickets" class="header__link">
            <span>
              <div class="header__tab-icon header__tab-icon--tickets">
              </div>
              Syntèse
            </span>
          </a>
        </li>
      </ul>

      <ul class="header__account">
        <li class="header__account-item header__help">
          <div class="help__menu">
            <a target="_blank" class="header__link " href="https://aide.trainline.fr">
              <span>
                Aide
              </span>
            </a>
          </div>
        </li>

        <!---->
        <li class="header__account-item header__user">
          <div id="user-menu" class="user-menu"><a class="header__link ">
            <span class="user-menu__label">
              <div id="avatar" class="user-menu__avatar clicktale-pii">

              </div>
              <label>
                <span class="clicktale-pii">Anthony
                </span>
              </label>
            </span>
          </a>
          <ul class="user-menu__list">
            <li class="user-menu__item">
              <a href="/preferences">
                <i class="user-menu__icon user-menu__icon--preferences">

                </i>
                Préférences
              </a>
            </li>
            <li class="user-menu__item ">
              <a href="/discount-cards">
                <i class="user-menu__icon user-menu__icon--card">

                </i>
                Achat de cartes SNCF
              </a>
            </li>
            <li class="user-menu__item">
              <a>
                <i class="user-menu__icon user-menu__icon--add-code"></i>
                Code d’invitation
              </a>
            </li>
            <li class="user-menu__item">
              <a>
                <i class="user-menu__icon user-menu__icon--signout"></i>
                Déconnexion
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>

<!--Avant connexion-->
<% else %>
<div class="application__header-container">
  <div class="application__header">
    <div class="visitor-header">
      <div class="active">
        <div class="header__logo header__logo--large">
          <!---->
        </div>
      </div>
      <!---->
      <ul class="header__account">
        <li class="header__account-item header__signup">
          <a href="/signup" class="header__signin-button">Créer un compte
          </a>
        </li>

        <li class="header__account-item header__signin">
          <button class="header__signin-button">
            Se connecter
          </button>
        </li>

        <!---->
        <li class="header__account-item header__help">
          <div class="help__menu">
            <a target="_blank" class="header__link " href="https://aide.rntal.fr">
              <span>
                Aide
              </span>
            </a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
<% end %>
