<div class="split-panel--right-container">
  <div class="search__form--right split-panel--right passengers">
    <div class="split-panel__arrow" style="top: 308px;">
    </div>
    <div class="ct-panel">
      <div class="ct-panel">
        <h1 class="search__title">Synthèse globale
        </h1>

        <div class="search__list passengers-list">
          <div class="search-field" style="display: none;">
            <input type="search" class="ember-text-field">
            <div class="search-field__clear hidden" title="Effacer la recherche">
              <button type="reset">Effacer la recherche
              </button>
            </div>
          </div>

          <div class="passengers-list__results ">
            <ul class="passengers-list__inner-list">

              <li class="search__list-item search__list-label search__passengers--passenger">
                <label>

                  <%= link_to "modifier", edit_bailleur_path(@bailleur), class: "search__passengers--edit" %>


                  <div class="search__passengers--passenger-label">
                    <span class="search__passengers--passenger-name clicktale-pii">

                      <span class="passenger__first-name">
                      <%= @bailleur.prenom.capitalize %>
                      </span>
                      <span class="passenger__last-name">
                      <%= @bailleur.nom.capitalize %>
                      </span>

                    </span>

                    <!---->
                    <ul class="cards__list">
                      <!---->
                    </ul>

                    <div class="search__passengers--add-card guid-ember2875">
                      <div class="search__passengers--add-card-icon">

                      </div>
                      <label class="search__passengers--add-card-label">ajouter un bien
                      </label>
                    </div>
                  </div>

                </label>
              </li>

            </ul>
          </div>

          <!---->
        </div>

      </div>


    </div>
  </div>
</div>
