<body style="width: auto; margin-left: 0px; overflow-x: auto;" cz-shortcut-listen="true" class="with-overlay with-overlay--dialog modal-open">
  <div id="app" class="ember-application">
      <div class="ct__application ct__search   fr">
        <div class="application__dialogs">
          <div class="dialog__container">
            <div class="dialog__content">

        <%= render 'form', bailleur: @bailleur %>


              </div>
            </div>
          </div>
          <div class="overlay overlay--dialog">
          </div>
          <!---->
        </div>
    </div>
  </body>



