<div class="application__body-container">
  <div class="application__body">
    <div class="discount-cards__form" data-help-contexts="tab_discount_cards">
      <div class="discount-cards__form--main">
        <div class="discount-cards__title">
          Acheter un titre de réduction
        </div>


      </div>
    </div>

  </div>
</div>
