<div class="application__body-container">
  <div class="application__body">
    <div class="discount-cards__form">
      <div class="discount-cards__form--main">
        <div class="discount-cards__title">
          Ajouter un bailleur
        </div>

        <%= render 'form', bail: @bail %>

        <%= link_to 'Show', @bail %> |
        <%= link_to 'Back', bails_path %>

      </div>
    </div>
  </div>
</div>

