<div class="search__form--left split-panel--left">
  <div class="search__title">
    Tâches à accomplir
  </div>

  <form>

    <div class="search__section search__section--participants">
      <div class="search__field search__participants grouped-input--single focus">
        <input type="button" value="" tabindex="1" class="search__participants-input clicktale-pii passengers-field clicktale-pii passengers-field__passengers--0 search__input focus empty">
        <div class="ct-placeholder" style="color: rgb(169, 169, 169); position: absolute; z-index: 2; -webkit-user-select: none; line-height: 20px; left: 36px; margin-top: -30px; display: block;">Vous concernant
        </div>

        <!---->
      </div>

      <!---->
    </div>


    <div class="search__section search__section--participants">
      <div class="search__field search__participants grouped-input--single focus">
        <input type="button" value="" tabindex="1" class="search__participants-input clicktale-pii passengers-field clicktale-pii passengers-field__passengers--0 search__input focus empty">
        <div class="ct-placeholder" style="color: rgb(169, 169, 169); position: absolute; z-index: 2; -webkit-user-select: none; line-height: 20px; left: 36px; margin-top: -30px; display: block;">Bailleurs
        </div>

        <!---->
      </div>

      <!---->
    </div>


    <div class="search__section search__section--participants">
      <div class="search__field search__participants grouped-input--single focus">
        <input type="button" value="" tabindex="1" class="search__participants-input clicktale-pii passengers-field clicktale-pii passengers-field__passengers--0 search__input focus empty">
        <div class="ct-placeholder" style="color: rgb(169, 169, 169); position: absolute; z-index: 2; -webkit-user-select: none; line-height: 20px; left: 36px; margin-top: -30px; display: block;">Biens
        </div>

        <!---->
      </div>

      <!---->
    </div>


    <div class="search__section search__section--participants">
      <div class="search__field search__participants grouped-input--single focus">
        <input type="button" value="" tabindex="1" class="search__participants-input clicktale-pii passengers-field clicktale-pii passengers-field__passengers--0 search__input focus empty">
        <div class="ct-placeholder" style="color: rgb(169, 169, 169); position: absolute; z-index: 2; -webkit-user-select: none; line-height: 20px; left: 36px; margin-top: -30px; display: block;">Locataires
        </div>

        <!---->
      </div>

      <!---->
    </div>

  </form>
</div>
