<div class="application__body-container">
  <div class="application__body">
    <div class="search__form--collapsible collapsible slow">
      <div class="collapsible__measuring-div">
        <div data-help-contexts="tab_search" class="search__form">

          <%= render 'left-container' %>

          <%= render 'right-container' %>
        </div>
      </div>
    </div>
  </div>
</div>
