<div class="application__body-container">
  <div class="application__body">
    <div class="discount-cards__form">
      <div class="discount-cards__form--main">
        <div class="discount-cards__title">
          Ajouter un bailleur
        </div>


        <%= render 'form', garant_locataire: @garant_locataire %>

        <%= link_to 'Show', @garant_locataire %> |
        <%= link_to 'Back', garant_locataires_path %>

      </div>
    </div>
  </div>
</div>

