<body style="width: auto; margin-left: 0px; overflow-x: auto;" cz-shortcut-listen="true" class="with-overlay with-overlay--dialog modal-open">
  <div id="app" class="ember-application">
      <div class="ct__application ct__search   fr">
        <div class="application__dialogs">
          <div class="dialog__container">
            <div class="dialog__content">
              <div class="ember-overlay dialog ember-dialog visible">
                <header>
                  <div class="dialog__icon dialog__icon--add-passenger">
                  </div>
                  Ajouter un garant locataire
                </header>
                <hr>
                <%= render 'form', garant_locataire: @garant_locataire %>
              </div>
            </div>
          </div>
        </div>
       <div class="overlay overlay--dialog">
       </div>
    </div>
  </div>
</body>
