<h1>Editing Representant Locataire</h1>

<%= render 'form', representant_locataire: @representant_locataire %>

<%= link_to 'Show', @representant_locataire %> |
<%= link_to 'Back', representant_locataires_path %>
