<div class="application__body-container">
  <div class="application__body">
    <div class="discount-cards__form">
      <div class="discount-cards__form--main">
        <div class="discount-cards__title">
          Ajouter un bailleur
        </div>

        <%= render 'form', locataire: @locataire %>

        <%= link_to 'Show', @locataire %> |
        <%= link_to 'Back', locataires_path %>

      </div>
    </div>
  </div>
</div>


